
 {
    outline: solid 1px black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.Nav_Con {
    margin: 0px;
    height: 84px;
    background-color: #cbcbcb;
    border-radius: 0 0 0 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 800;
    ;
    
}

.Page_Con {
    background-color: #fafafa;
    margin: 0;
    text-align: left;
    padding: 15px 0px 0px 15px;
    z-index: 1;
}

.Portfolio_Page_Con {
    background-color: #fafafa;
    margin: 0;
    text-align: left;
    z-index: 1;
}

.CMP {
    font-size: 10em;
    font-family: Oswald;
    color: gray;
    margin-left: 2%;
    display: inline-block;
}

body {
   font-family: Oswald;
}

.links {
   text-align: center;

}

.inactive_link:hover {
   cursor: pointer;
}

.Portfolio_link {
   text-align: center;
   color: black;

}

.Portfolio_link_con {
   width: 19.5%;
   float: left;
   border-right: black 3px solid;
   }

.CMP_link {
   text-align: center;
   color: black;
}

.CMP_link_con {
   float: left;
   width: 19.5%;
   border-right: black 3px solid;
}

.Apply_link {
   text-align: center;
   color: black;
}

.Apply_link_con {
   width: 19.5%;
   float: left;
   border-right: black 3px solid;
}

.Login_link {
   text-align: center;
   color: black;
}

.Login_link_con {
   float: left;
   width: 19.5%;
}

.Home_link {
   text-align: center;
   color: black;
}

.Home_link_con {
   float: left;
   width: 19.5%;
   border-right: black 3px solid;
}

.Coca_title {
    font-family: Open+Sans+Condensed: 300italic;
    text-align: center;
    color: #f2f2f2;
    font-size: 2em;
}

.selected_link {
    color: #369cda;
    text-decoration: none;
}



img{
 border-radius: 0px;

}

.text_box {
    color: white;
    height: 525px;
    background-color: #369cda;
    border-radius: 10px 0px 0px 10px;
    padding: 5%;
}

.img_box{
   width: 260px;
   height: 260px;
   background-color: #7a7e87;
   margin-left: 20px;
   margin-bottom: 40px;
}

.more_box{
      width: 260px;
   height: 260px;
   background-color: #d5d5d5;
   margin-left: 20px;
   margin-bottom: 40px;
   box-shadow: 5px;
}

.footer {
   height: 75px;
   width: 100%;
   background-color: #369cda; 
}

.foote {
   height: 75px;
   width: 100%;
   background-color: #369cda;
   position: absolute;
   bottom: 0px;
}



.banner_img {
    height: 200px;
    background-color: #7a7e87;
    border-radius: 10px 0px 0px 0px;
    margin-top: 15px;
    margin-left: 10px;
}

.profile_pic {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #7a7e87;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 18%;
    display: inline-block;
    z-index: 4;
}

.gap {
   height: 15px;
   width: 100%;
}

.profile_nav {
    height: 75px;
    width: 100%;
   background-color:#369cda; 
    border-radius: 0px 0px 0px 10px;
    margin-left: 10px;
}

.profile_links {
    float: left;
    display: inline;
}


.about_con {
    height: 300px;
    width: 100%;
    padding-right: 15px;

}

.about_text{
    padding: 15px;
    height: 300px;
    width: 100%;
    margin-right: 15px;
    border-radius: 0px 10px 10px 0px;
    background-color: #c7c8ca;

}

br{
    height: 15px;
}

.my_work_con {
   height: 300px;
   width: 100%;
   padding-left: 15px;
}

.my_work_text {
    padding: 15px;
    height: 300px;
    width: 100%;
    margin-left: 15px;
    border-radius: 10px 0px 0px 10px;
    background-color: #c7c8ca;
}

h1 {
   font-size: 3em;
}

.grey_tab {
   box-radius: 10px 0px 0px 10px;
   background-color: #c7c8ca;
}

.left_tab {
   height: 450px;
   border-radius: 10px 10px 10px 10px;
   padding: 10px;
   background-color: #c7c8ca;
   float: left;
   width: 45%;
}

.following_noti{
   background-color: #fafafa;
   border: 1px solid black;
   padding: 10px;
}

.middle_tab {
   height: 15px;
   width: 10%;

}

.right_tab {
   height: 450px;
   border-radius: 10px 10px 10px 10px;
   padding: 10px;
   background-color: #c7c8ca;
   float: right;
   width:45%;
}

.right_tab_content {
    height: 430px;
    width: 99%;
    background-color: #fafafa;
}



/*CMP page*/

.cmp_title {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.paragraphs_con {
    width: 90%;
    font-size: 1.3em;
}

.cpm_enlarged_text {
    width: 50%;
    font-size: 2em;
    color: #369cda ;
    font-family: Oswald;

>>>>>>> origin/master
}




.login_input_con {
   position: absolute;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   z-index: 2;
}

.username{
   padding: 5px;
   border: 3px solid  #cbcbcb;
   -webkit-border-radius: 5px;
   border-radius: 5px;

}

.username:focus {
   border-color: #369cda; 
}

.password {
   padding: 5px;
   border: 3px solid  #cbcbcb;
   -webkit-border-radius: 5px;
   border-radius: 5px;   
}

.password:focus {
   border-color: #369cda;
}

.login_button {
   padding: 5px 15px;
   background: #cbcbcb;
   border:0 none;
   cursor: pointer;
   border-radius: 5px;
   -webkit-border-radius: 5px;
}

.login_footer_image {
   height: 35%;
   background-color: #369cda;
   position: fixed;
   bottom: 0px;
   width: 100%;
}