
 {
    outline: solid 1px black;
}

.Nav_Con {
    margin: 0px;
    height: 110px;
    background-color: #cbcbcb;
    border-radius: 0 0 0 10px
    ;
    
}

.Page_Con {
    background-color: #fafafa;
    margin: 0;
    text-align: left;
}

.CMP {
    font-size: 10em;
    font-family: Oswald;
    color: gray;
    margin-left: 2%;
}

body {
   font-family: Oswald;
   alignment-baseline: central;
}

.links {
   text-align: center;
}

.Portfolio_link {
   text-align: center;
   color: black;

}

.Portfolio_link_con {
   width: 19.5%;
   float: left;
   border-right: black 3px solid;
   }

.CMP_link {
   text-align: center;
   color: black;
}

.CMP_link_con {
   float: left;
   width: 19.5%;
   border-right: black 3px solid;
}

.Apply_link {
   text-align: center;
   color: black;
}

.Apply_link_con {
   width: 19.5%;
   float: left;
   border-right: black 3px solid;
}

.Login_link {
   text-align: center;
   color: black;
}

.Login_link_con {
   float: left;
   width: 19.5%;
}

.Home_link {
   text-align: center;
   color: black;
}

.Home_link_con {
   float: left;
   width: 19.5%;
   border-right: black 3px solid;
}

.Coca_title {
    font-family: Open+Sans+Condensed: 300italic;
    text-align: center;
    color: #f2f2f2;
    font-size: 2em;
}

.selected_link {
    color: #869cda;
}

img{
 border-radius: 0px;

}

.text_box {
    color: white;
    height: 525px;
    background-color: #369cda;
    border-radius: 10px 0px 0px 10px;
    padding: 5%;
}